
.div1{
    width: 10000000%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.44);
    padding: 0px;
    margin: 0px;
}

.btn-primary {
    --bs-btn-color: rgb(0, 0, 0);
    --bs-btn-bg: hsl(20deg 5.88% 90%);
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: rgb(0, 0, 0);
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ffffff;
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffffff;
    --bs-btn-disabled-border-color: #ffffff;
}

#flowers{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#flowers>div{
    border: #000000 solid 1px;
    padding: 5px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

#allPrice{
    font-size: large;
    text-align: center;
}

#malka{
    display: flex;
    flex-direction: column;
}

#malka>div{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}

#malka>div>input{
    height: 20px;
    width: 60px;
}

#malka>p>span{
    font-weight: bold;
}

#flowers>div>button{
    height: 60px;
    width: 170px;
}

#flowers>div>img{
    width: 180px;
}

#malka>div>p{
    margin: 0;
}

#toPay{
    width: 400px;
    margin-bottom: 10px;
}

#topaydiv{
    text-align: center;
    width: 100%;
}

/* חלון לתשלום */

#payPage>p{
    margin-top: 20px;
}

#payPage>:last-child{
    margin-right: 90px;
    width: 200px;
    border: #33863f solid 2px;
}

#payPage>input{
    margin: 5px;
}